:root {
    --key-size: 82px;
    --key-gap: 8px;
    --color-primary: #000;
    --color-accent: #9BDF46;
    --color-secondary: #25A55F;
    --color-error: #ff5a5a;
    --color-progress: var(--color-error);
    --container-width: 601px;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
    overflow-x: hidden;
}

.container {
    min-width: var(--container-width);
    margin: 0 auto;
}

/* ===== HEADER COMPONENT ===== */
.header {
    top: 0;
    position: sticky;
    z-index: 999;
    margin-bottom: 16px;
}

.header__wrapper{
    position: relative;
    background-color: var(--color-accent);
    display: flex;
    justify-content: center;
    align-items: center;
}

#progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: var(--color-progress);
    z-index: 0;
    transition: width 0.33s ease;
}

.header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
    z-index: 1;
}

.header__brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-primary);
}

.header__actions {
    display: flex;
    gap: 11px;
    align-items: center;
    justify-content: center;
    padding-bottom: 3.5px;
}

.header__brand img {
    width: 30px;
    height: 30px;
}

.header__actions div {
    height: 12px;
}

/* ===== TOOLTIP COMPONENT ===== */
.tooltip-trigger {
    position: relative;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    top: 120%;
    left: 120%;
    background-color: #fff;
    color: var(--color-primary);
    padding: 6px 8px;
    border-radius: 6px;
    z-index: 9;
    font-size: smaller;
    display: none;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 4px;
    box-shadow: var(--box-shadow);
}

.tooltip--visible {
    height: auto !important;
    width: max-content !important;
    display: flex !important;
}

/* ===== GAME INFO COMPONENT ===== */ 
.game-info {
    position: relative;
}

/* ===== LEVEL INDICATOR COMPONENT ===== */
.level-indicator {
    display: none;
}

.level-indicator__track {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: #1f2d2c;
    gap: 8px;
    width: 100%;
    position: relative;
}

.progress-track {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    gap: 5px;
}

.progress-track__line {
    position: absolute;
    z-index: -1;
    height: 2px;
    background-color: #afafaf;
    width: 100%;
}

.progress-track__dots {
    display: flex;
    gap: 4.4px;
}

.progress-dot {
    height: 12px;
    width: 12px;
    border-radius: 33%;
    border: 2px solid #afafaf;
    background-color: #fff;
    display: flex;
}

.progress-dot--active {
    border-color: var(--color-error) !important;
    background-color: var(--color-error) !important;
}

.level-indicator__display {
    position: absolute;
    display: flex;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

#level-name {
    margin: 0 6.6px;
}

.level-indicator__decorator {
    display: flex;
    align-items: center;
    justify-content: center;
}

.level-indicator__decorator--flipped {
    transform: scaleX(-1);
}

/* ===== WORDS PANEL COMPONENT ===== */
.words-panel {
    background-color: #E6EAEF;
    padding: 15px 17px;
    width: 100%;
    border-radius: 12px;
    color: var(--color-primary);
    font-weight: 450;
    max-width: var(--container-width);
    position: relative;
}

.words-panel__fade {
    width: 15px;
    height: 100%;
    border-radius: 12px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #E6EAEF;
}

.words-panel__toggle {
    position: absolute;
    width: 36px;
    height: 8px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    background-color: #E6EAEF;
    color: #fff;
    cursor: pointer;
    right: 50%;
    bottom: -8px;
    padding-bottom: 4px;
    transform: translate(50%, -0%);
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toggle-expand {
    z-index: 6;
}

#toggle-minimize:hover, #toggle-expand:hover {
    color: var(--color-primary);
}

#toggle-collapse {
    color: #000;
    bottom: -9px;
}

.words-panel__expanded {
    width: 100%;
    background-color: #E6EAEF;
    display: flex;
    height: 100%;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding-bottom: 12px;
    border-radius: 12px;
    transform-origin: top;
    transition: transform 0.25s ease, z-index 0.18s ease;
    transform: scaleY(0);
}

.words-panel__expanded.words-panel__expanded--open {
    z-index: 66;
    height: 460%;
    transform: scaleY(1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#toggle-minimize{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.words-panel__expanded.words-panel__expanded--open .words-panel__toggle.words-panel__toggle--minimize {
    z-index: 66;
}

.word-item__full-view {
    padding: 4px 8px;
    border-radius: 8px;
    background-color: var(--color-accent);
}

.words-panel__header {
    display: flex;
    padding: 12px 17px;
    gap: 6px;
    align-items: center;
    color: #1f2d2c;
    border-bottom: dashed 2px #767474;
}

.words-panel__header i {
    font-size: 13px;
}

#words-list {
    display: flex;
    flex-wrap: wrap;
    padding: 12px 17px;
    gap: 6px;
    align-items: center;
    color: #1f2d2c;
    overflow-y: scroll;
    margin-top: 9px;
}

.words-panel__compact {
    gap: 4px;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    background-color: #E6EAEF;
    display: flex;
}

/* ===== NOTIFICATION COMPONENT ===== */
.notification {
    position: absolute;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    padding: 12px 14px;
    background-color: #fff;
    color: var(--color-primary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    font-weight: 600;
    display: none;
    text-align: center;
    z-index: 999;
}

.notification.notification--visible {
    display: flex !important;
}

.notification.notification--success {
    background-color: var(--color-error) !important;
    color: #063000 !important;
}

/* ===== SCORE MODAL COMPONENT ===== */
.score-modal {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 200%);
    padding: 15px 32px;
    padding-top: 25px;
    background-color: #fff;
    color: var(--color-primary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    font-weight: 600;
    z-index: 888;
    height: 70vh;
    min-height: calc(0.7 * 1080px);
    width: 80%;
    text-align: start;
    transition: transform 0.238s ease;
}

.score-modal.score-modal--visible {
    transform: translate(-50%, -5%);
    display: flex;
}

.score-modal span {
    font-weight: 400;
    font-size: 11px;
    color: #667579;
}

.score-modal__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

.score-modal__description {
    margin-top: 6px;
    line-height: 0.8;
}

.score-modal__records {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    max-height: 80%;
    overflow-y: scroll;
    padding-right: 4.4px;
}

.record-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: dashed 1px #719EBD;
    padding: 16px 18px;
    border-radius: 12px;
}

.record-item h2 {
    display: inline;
    font-weight: 600;
    font-size: 20px;
}

.record-item__point {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.record-item__point i {
    margin-right: 6px;
    font-size: 14px;
}

.record-item__word-count {
    font-size: 11px;
    color: #677478;
    margin-top: 6px;
}

.record-item__word-count--total {
    color: #000 !important;
}

.record-item__game-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.record-item__letters{
    display: flex;
    gap: 5px;
}

.record-item__letter{
    border-radius: 4px;
    background-color: #C4C4C4;
    font-size: 11px;
    height: 19px;
    width: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.record-item__letter--main{
    background-color: var(--color-accent) !important;
}

.main-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 1.5%;
}

.score-modal__close {
    font-size: 11px;
    background-color: #D9D9D9;
    border-radius: 12px;
    width: 75px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* ===== GAME AREA COMPONENT ===== */
.game-area {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 1.5%;
    min-height: calc(0.58 * 1080px);
}

.game-board {
    padding-top: 11%;
    gap: 11%;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: calc(var(--key-size) * 3 + var(--key-gap) * 2);
    margin: auto auto;
}

/* ===== INPUT DISPLAY COMPONENT ===== */
.input-display {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    height: 2rem;
}

#current-input {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-primary);
}

.input-display__cursor {
    display: inline-block;
    width: 6px;
    height: calc(2rem - 4px);
    background-color: black;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ===== KEYBOARD COMPONENT ===== */
.keyboard {
    display: flex;
    flex-direction: column;
    gap: var(--key-gap);
}

.keyboard__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.key {
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    height: var(--key-size);
    width: var(--key-size);
    background-color: #E6EAEF;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    font-weight: 750;
    color: var(--color-primary);
    user-select: none;
}

.key--primary {
    background-color: var(--color-accent);
}

.key:hover {
    border: 2px solid var(--color-accent);
}

.key--primary:hover {
    border: 2px solid var(--color-secondary);
}

.key--action {
    color: #000;
}

.key--submit {
    width: calc(var(--key-size) * 2 + var(--key-gap));
    background-color: var(--color-primary);
    color: #fff;
}

/* ===== FOOTER COMPONENT ===== */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 11px;
    color: #6d94a0;
    text-align: center;
    padding-bottom: 15px;
    width: var(--container-width);
}

.footer img {
    width: 36%;
    height: auto;
    margin: auto;
}

.footer__content {
    padding: 13px;
    border-radius: 12px;
    background-color: #E6EAEF;
}

/* Very subtle line scrollbar */
.line-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #efeeee transparent;
}

.line-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.line-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.line-scrollbar::-webkit-scrollbar-thumb {
    background: #efeeee;
    border-radius: 2px;
}