:root {
    --key-size: 5.125rem;
    --key-gap: 0.5rem;
    --color-bg: #fff;
    --color-primary: #000;
    --color-accent: #9BDF46;
    --color-secondary: #25A55F;
    --color-error: #ff5a5a;
    --color-gray1: #e3e9de;
    --color-gray2: #afafaf;
    --color-gray3: #1f2d2c;
    --color-blue: #719EBD;
    --color-text: #000;
    --color-progress: var(--color-error);
    --container-width: 37.5625rem;
    --box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    height: 100vh;
    font-size: 16px;
}

[data-theme="dark"] {
    --color-bg: #1f2d2c;
    --color-primary: #fff;
    --color-accent: #9BDF46;
    --color-secondary: #25A55F;
    --color-error: #ff5a5a;
    --color-gray1: #363f3e;
    --color-gray2: #afafaf;
    --color-gray3: #E6EAEF;
    --color-blue: #719EBD;
    --color-text: #fff;
    --color-progress: var(--color-error);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

@media (max-width: 37.5rem) {
    :root{
        font-size: 14px !important;
    }

    .header__brand span{
        display: none;
    }

    .header__content {
        padding: 0.375rem 0.6875rem !important;
        font-size: 0.85rem;
    }

    .words-panel{
        font-size: 0.875rem;
    }

    .record-item__word-count{
        display: none;
    }

    .record-item__letters{
        width: 100%;
        margin-top: 0.75rem !important;
        justify-content: space-between;
    }

    .record-item__letter{
        height: 1.25rem !important;
        width: 1.25rem !important;
    }
    
    .tooltip {
        left: -580% !important;
    }

    .game-area {
        scale: 0.8;
    }

    .footer{
        font-size: 0.625rem;
    }

    .notification{
        font-size: 0.8rem !important;
    }
}

html{
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-bg);
}

.container {
    max-width: var(--container-width);
    width: 100%;
    margin: 0 auto;
    padding: 0 0.5rem;
}

.header {
    top: 0;
    position: sticky;
    z-index: 999;
    margin-bottom: 1rem;
}

.header__wrapper{
    position: relative;
    background-color: var(--color-accent);
    display: flex;
    justify-content: center;
    align-items: center;
}

#progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: var(--color-progress);
    z-index: 0;
    transition: width 0.33s ease;
}

.header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.375rem 0.5rem;
    z-index: 1;
}

.header__brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.625rem;
    font-size: 1rem;
    font-weight: bold;
}

.header__actions {
    display: flex;
    gap: 0.6875rem;
    justify-content: center;
    align-items: center;
}

.header__brand img {
    width: 1.875rem;
    height: 1.875rem;
}

#theme-btn__icon{
    transform: scaleX(-1);
}

.tooltip-trigger {
    position: relative;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    top: 120%;
    left: 120%;
    background-color: var(--color-bg);
    color: var(--color-text);
    padding: 0.375rem 0.5rem;
    border-radius: 0.375rem;
    z-index: 9;
    font-size: 0.875rem;
    display: none;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 0.25rem;
    box-shadow: var(--box-shadow);
}

.tooltip--visible {
    height: auto !important;
    width: max-content !important;
    display: flex !important;
}

.game-info {
    position: relative;
}

.level-indicator {
    display: none;
}

.level-indicator__track {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: var(--color-gray3);
    gap: 0.5rem;
    width: 100%;
    position: relative;
}

.progress-track {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    gap: 0.3125rem;
}

.progress-track__line {
    position: absolute;
    z-index: -1;
    height: 0.125rem;
    background-color: var(--color-gray2);
    width: 100%;
}

.progress-track__dots {
    display: flex;
    gap: 0.275rem;
}

.progress-dot {
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 33%;
    border: 0.125rem solid var(--color-gray2);
    background-color: var(--color-bg);
    display: flex;
}

.progress-dot--active {
    border-color: var(--color-error) !important;
    background-color: var(--color-error) !important;
}

.level-indicator__display {
    position: absolute;
    display: flex;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

#level-name {
    margin: 0 0.4125rem;
}

.level-indicator__decorator {
    display: flex;
    align-items: center;
    justify-content: center;
}

.level-indicator__decorator--flipped {
    transform: scaleX(-1);
}

.words-panel {
    background-color: var(--color-gray1);
    padding: 0.9375rem 1.0625rem;
    width: 100%;
    border-radius: 0.75rem;
    color: var(--color-text);
    font-weight: 450;
    max-width: var(--container-width);
    position: relative;
}

.words-panel__fade {
    width: 0.9375rem;
    height: 100%;
    border-radius: 0.75rem;
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--color-gray1);
}

.words-panel__toggle {
    position: absolute;
    width: 2.25rem;
    height: 0.5rem;
    border-bottom-left-radius: 0.875rem;
    border-bottom-right-radius: 0.875rem;
    background-color: var(--color-gray1);
    color: var(--color-bg);
    cursor: pointer;
    right: 50%;
    bottom: -0.5rem;
    padding-bottom: 0.25rem;
    transform: translate(50%, -0%);
    font-size: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toggle-expand {
    z-index: 6;
}

#toggle-minimize:hover, #toggle-expand:hover {
    color: var(--color-text);
}

#toggle-collapse {
    color: var(--color-text);
    bottom: -0.625rem;
    opacity: 0;
}

.words-panel__expanded {
    width: 100%;
    background-color: var(--color-gray1);
    display: flex;
    height: 100%;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding-bottom: 0.75rem;
    border-radius: 0.75rem;
    transform-origin: top;
    transition: transform 0.25s ease, z-index 0.18s ease;
    transform: scaleY(0);
}

.words-panel__expanded.words-panel__expanded--open {
    z-index: 66;
    height: 460%;
    transform: scaleY(1);
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

#toggle-minimize{
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.words-panel__expanded.words-panel__expanded--open .words-panel__toggle.words-panel__toggle--minimize {
    z-index: 66;
}

.word-item__full-view {
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--color-accent);
}

.words-panel__header {
    display: flex;
    padding: 0.75rem 1.0625rem;
    gap: 0.375rem;
    align-items: center;
    color: var(--color-gray3);
    border-bottom: dashed 0.125rem var(--color-gray2);
}

.words-panel__header i {
    font-size: 0.8125rem;
}

#words-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1.0625rem;
    gap: 0.375rem;
    align-items: center;
    color: var(--color-gray3);
    overflow-y: scroll;
    margin-top: 0.5625rem;
}

.words-panel__compact {
    gap: 0.25rem;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    background-color: var(--color-gray1);
    display: flex;
}

.notification {
    position: absolute;
    bottom: -1.625rem;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    padding: 0.75rem 0.875rem;
    background-color: var(--color-bg);
    color: var(--color-text);
    box-shadow: var(--box-shadow);
    border-radius: 0.6875rem;
    font-weight: 600;
    display: none;
    text-align: center;
    z-index: 999;
}

.notification.notification--visible {
    display: flex !important;
}

.notification.notification--success {
    background-color: var(--color-error) !important;
    color: var(--color-gray3) !important;
}

.score-modal {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 200%);
    padding: 0.9375rem 2rem;
    padding-top: 1.5625rem;
    background-color: var(--color-bg);
    color: var(--color-text);
    box-shadow: var(--box-shadow);
    border-radius: 0.6875rem;
    font-weight: 600;
    z-index: 888;
    height: 70vh;
    min-height: calc(0.85 * 100vh);
    width: 80%;
    text-align: start;
    transition: transform 0.238s ease;
}

.score-modal.score-modal--visible {
    transform: translate(-50%, -5%);
    display: flex;
}

.score-modal span {
    font-weight: 400;
    font-size: 0.6875rem;
    color: var(--color-gray3);
}

.score-modal__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

.score-modal__description {
    margin-top: 0.375rem;
    line-height: 0.8;
}

.score-modal__records {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.4375rem;
    max-height: 80%;
    overflow-y: scroll;
    padding-right: 0.275rem;
}

.record-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: dashed 0.0625rem var(--color-blue);
    padding: 1rem 1.125rem;
    border-radius: 0.75rem;
}

.record-item h2 {
    display: inline;
    font-weight: 600;
    font-size: 1.25rem;
}

.record-item__container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.record-item__point {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
}

.record-item__point i {
    margin-right: 0.375rem;
    font-size: 0.875rem;
}

.record-item__word-count {
    font-size: 0.6875rem;
    align-self: flex-end;
    color: var(--color-gray2);
}

.record-item__word-count--total {
    color: var(--color-gray3) !important;
    font-weight: 600 !important;
}

.record-item__letters{
    display: flex;
    margin-left: auto;
    margin-top: 0.25rem;
    gap: 0.375rem;
}

.record-item__letter{
    border-radius: 0.25rem;
    background-color: var(--color-gray2);
    font-size: 0.6875rem;
    height: 1.1875rem;
    width: 1.1875rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.record-item__letter--main{
    background-color: var(--color-accent) !important;
}

.main-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.75rem;
    margin-bottom: 1.5%;
}

.score-modal__close {
    font-size: 0.6875rem;
    background-color: var(--color-gray1);
    border-radius: 0.75rem;
    width: 4.6875rem;
    height: 1.5625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.game-area {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.75rem;
    margin-bottom: 1.5%;
}

.game-board {
    padding-top: 11%;
    gap: 11%;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: calc(var(--key-size) * 3 + var(--key-gap) * 2);
    margin: auto auto;
}

.input-display {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1875rem;
    height: 2rem;
}

#current-input {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-text);
}

.input-display__cursor {
    display: inline-block;
    width: 0.375rem;
    height: calc(2rem - 0.25rem);
    background-color: var(--color-primary);
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.keyboard {
    display: flex;
    flex-direction: column;
    gap: var(--key-gap);
}

.keyboard__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.key {
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    height: var(--key-size);
    width: var(--key-size);
    background-color: var(--color-gray1);
    border-radius: 0.75rem;
    align-items: center;
    justify-content: center;
    font-weight: 750;
    color: var(--color-text);
    user-select: none;
}

.key--primary {
    background-color: var(--color-accent);
}

.key:hover {
    border: 0.125rem solid var(--color-accent);
}

.key--primary:hover {
    border: 0.125rem solid var(--color-secondary);
}

.key--action {
    color: var(--color-text);
}

.key--submit {
    width: calc(var(--key-size) * 2 + var(--key-gap));
    background-color: var(--color-primary);
    color: var(--color-bg);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100vw;
    gap: 0.6875rem;
    color: var(--color-blue);
    text-align: center;
    padding-bottom: 0.9375rem;
    width: var(--container-width);
}

.footer img {
    width: 36vw;
    height: auto;
    margin: auto;
    max-width: 12.5rem;
}

.footer__content {
    padding: 0.8125rem;
    border-radius: 0.75rem;
    background-color: var(--color-gray1);
}

.line-scrollbar, html {
    scrollbar-width: thin;
    scrollbar-color: var(--color-gray2) transparent;
}

.line-scrollbar::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

.line-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.line-scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-gray2);
    border-radius: 0.125rem;
}